* {
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    color: #000;
}

.even {
    background: #ffe;
}

.odd {
    background: #eff;
}

.leftmost {
    border-left: none;
}

td, th {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    padding: 0.5em 0.8em;
}

ul {
    list-style: none;
}

li {
    margin: 0.5em 0;
}

p {
    margin: 1.5em 1.5em;
}

a { color: #070; }

.notice {
    color: #333;
    font-size: 0.8em;
}
